<head>
    <style >
        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        p {
            text-decoration-color: blue;
        }
    </style>
</head>

<p>Se ha creado correctamente una solciitud de {{ type_request }}</p>
<p>Asignado a: {{ reporter }}</p>