<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                margin: 0;
                padding: 0;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }
            p {
                text-decoration-color: blue;
            }
        </style>
    </head>
    <body>
        <p>Recuperar contraseña</p>
        <p>Has solciitado cambiar contraseña. Haga clic en el siguiente boton para continuar con la recuperacion</p>
        <button>
            <a href="{{ url }}">Cambiar contraseña</a>
        </button>

        <p>If you did not request this email you can safely ignore it.</p>
    </body>
</html>